<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <form class="form" method="post">
        <div class="form-group">
          <label for="NameTextField">Car Name</label>
          <input
            type="text"
            class="form-control"
            id="NameTextField"
            placeholder="Car Name"
            name="Carname"
            value="<%= cars.Carname %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="CatTextField">Category</label>
          <input
            type="text"
            class="form-control"
            id="CatTextField"
            placeholder="car Category"
            name="Category"
            value="<%= cars.Category %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="ModelTextField">Car Model</label>
          <input
            type="text"
            class="form-control"
            id="ModelTextField"
            placeholder="Car Model"
            name="Carmodel"
            value="<%= cars.Carmodel %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="PriceTextField">Price</label>
          <input
            type="text"
            class="form-control"
            id="PriceTextField"
            placeholder="Car Price"
            name="Price"
            value="<%= cars.Price %>"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check-square-o"></i> Submit
        </button>
        <a href="/cars" class="btn btn-warning"
          ><i class="fa fa-undo"></i> Cancel</a
        >
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
