<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3>Favourite Cars List</h3>
      <!-- ------------------------ -->
      <!-- FIX THE ADD BUTTON BELOW -->
      <!-- ------------------------ -->
      <!-- DONE -->
      <a href="/cars/add" class="btn btn-primary"><i class="fa fa-plus"></i>Add a car</a>
      <br />
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Car Name</th>
              <!-- MINOR BUG FIX: model and category columns were wrongly swapped -->
              <th class="text-center">Category</th>
              <th class="text-center">Model</th>
              <th class="text-center">Price</th>
              <th class="text-center"></th>
               </tr>
          </thead>
          <tbody>
            <!-- Template Row -->
            <% for (let count = 0; count < cars.length; count++) { %>
            <tr>
              <td><%= cars[count].Carname %></td>
              <td class="text-center"><%= cars[count].Category %></td>
              <td class="text-center"><%= cars[count].Carmodel %></td>
              <td class="text-right"><%= cars[count].Price %></td>

              <td class="text-center">
                <!-- ------------------------ -->
                <!-- ADD the EDIT BUTTON HERE -->
                <!-- ------------------------ -->
                <!-- DONE -->
                <a href="/cars/<%= cars[count]._id %>" class="btn btn-primary btn-sm">Edit</a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- ------------------------- -->
      <!--FIX the DELETE BUTTON HERE -->
      <!-- ------------------------- -->
      <!-- DONE -->
      <hr>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4><i>Delete records with ...</i></h4>
          <form class="form" method="get" action="/cars/delete">
            Car name: <input type="text" id="Carname" name="Carname">
            <br>
            <b>AND</b>
            <br>
            Price range: from 
            <input type="number" id="PriceRangeMin" name="PriceRangeMin">
             to 
            <input type="number" id="PriceRangeMax" name="PriceRangeMax">
            <br>
            <br>
            <input type="submit" value="Delete" class="btn btn-warning btn-sm">
          </form>
        </div>
      </div>
      
      <div class="col-md-offset-1 col-md-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
      
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
